<p>add works!</p>

Value: {{ formEmployee.value | json }}
<form [formGroup]="formEmployee" (ngSubmit)="onSubmit()">
    
   
  
      
      <div class="row">
          <div class="col-xs">
              <div class="box">
                <mat-form-field appearance="outline">
                    <mat-label>ชื่อ:</mat-label>
                    <input matInput type="text" formControlName="fname" />
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>โทรศัพท์:</mat-label>
                    <input matInput type="text" formControlName="phone_number" />
                  </mat-form-field>
            
            
              </div>
            </div>
            <div class="col-xs">
                <div class="box">
                    <mat-form-field appearance="outline">
                        <mat-label>นามสกุล:</mat-label>
                        <input matInput type="text" formControlName="lname" />
                      </mat-form-field>
                    
                </div>
            </div>
            <div class="col-xs">
                <div class="box">auto</div>
            </div>
        </div>


        <button mat-raised-button color="primary" [disabled]="!formEmployee.valid">Submit</button>
        <!-- <mat-card-actions>
            <button mat-raised-button="" color="primary">Submit</button>
          </mat-card-actions> -->
    </form>