
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ชื่อ-นามสกุล</th>
        <th scope="col">โทรศัพท์</th>
        <th scope="col">ดำเนินการ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of patient">
        <th scope="row">1</th>
        <td>{{ item.fname }} {{ item.lname }}</td>
        <td>{{item.phone}}</td>
        <td style="width:140px;">
     
            <a [routerLink]="['/patient/update/',item.id]" class="btn btn-warning">แก้ไข</a> | 
                <button type="button" class="btn btn-danger mr-2" (click)="deletePatient(item.id)">ลบ</button>
       
        </td>
      </tr>
    </tbody>
  </table>