<mat-toolbar color="primary" class="mat-elevation-z8">
    <img _ngcontent-udm-c83="" class="img-logo" src="https://tomastrajan.github.io/angular-ngrx-material-starter/assets/logo.png" alt="assets/logo.png">
    <span>
        <!-- <mat-icon>eco</mat-icon> -->
         Myoffice</span>
   
     <div class="spacer"></div>
   
    <a mat-button [routerLink]="['/']"><mat-icon>home</mat-icon>Home</a>
    <a mat-button [routerLink]="['/about']">About</a>
    <!-- <a mat-button routerLink="hr"><mat-icon>group</mat-icon>HR</a> -->
    <a mat-button [routerLink]="['/post']"><mat-icon>group</mat-icon>post</a>
    <a mat-button [routerLink]="['/patient']"><mat-icon>group</mat-icon>patient</a>
    <a mat-button [routerLink]="['/upload']"><mat-icon>upload</mat-icon>upload</a>
    <!-- <a mat-button [routerLink]="['services']">Services</a>
    <a mat-button [routerLink]="['projects']">Projects</a> -->
    <a mat-raised-button color="accent" routerLink="login" *ngIf="isLogin">ออกจากระบบ</a>
   </mat-toolbar>
   