

  <table class="table">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of patient">
        <th>{{ item.hn }}</th>
        <td>{{ item.fname }}</td>
        <td>{{ item.lname }}</td>
        <td>{{ item.cid }}</td>
        <td>{{ item.pgone }}</td>
        <td>
          <button type="button"  mat-raised-button color="accent" (click)="editPatient(item)">Edit</button>  | 
          <button type="button"  mat-raised-button color="warning">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
