

  mat-toolbar.app-toolbar.mat-primary {
    background: #0d47a1;
  }
  .example-spacer {
      flex: 1 1 auto;
    }
    
    .main-body {
      padding-top: 20px;
      margin: 0 auto;
      max-width: 1348px;
      mat-form-field {
        width: 100%;
      }
    }
    
    .action {
      display: flex;
      gap: 5px;
    }
  
    .row {
      display: flex;
      gap: 10px;
    
      mat-form-field {
        width: 100%;
      }
    }
  
  
    
    .demo-button + .demo-button {
      margin-left: 8px;
    }
  
    