<h1>ทะเบียนผู้ป่วย</h1>
<mat-card>
    <mat-card-header class="w-100"
      ><mat-card-title-group class="w-100"
        ><mat-card-title class="abp-card-title">ทะเบียนผู้ป่วย</mat-card-title>
        <div class="button-container">
          <button id="create" mat-raised-button color="primary" type="button" (click)="openDialog()">
            <i class="fa fa-plus mr-1"></i><span>สร้างทะเบียนผู้ป่วยใหม่</span>
          </button>
        </div></mat-card-title-group>
    </mat-card-header>
    <mat-card-content> 
 <app-list-patient></app-list-patient>
    </mat-card-content>
    <!-- <mat-card-actions align="end">
      <button mat-raised-button color="primary">Read More</button>
    </mat-card-actions> -->
  </mat-card>