<nav>
    <div class="container">
        <img src="assets/images/logo.png" class="logo" alt="">
        <div class="search-bar">
            <span class="material-icon-sharp">search</span>
            <input type="search" />
        </div>
        <div class="profile-area">
            <div class="theme-btn">
                <span class="material-icon-sharp">Lith_mode</span>
                <span class="material-icon-sharp">dark_mode</span>
            </div>
            <div class="profile">
                <div class="profile-photo">
                    <img src="assets/images/profile-1.jpg" alt="">
                </div>
                <h5>Chu Hua</h5>
                <span class="material-icon sharp">expend_more</span>
            </div>
            <button id="menu-btn">Menu</button>
        </div>
    </div>
</nav>