<mat-toolbar color="primary" class="mat-elevation-z8">
    <img _ngcontent-udm-c83="" class="img-logo" src="https://tomastrajan.github.io/angular-ngrx-material-starter/assets/logo.png" alt="assets/logo.png">
    <span>
        <!-- <mat-icon>eco</mat-icon> -->
         Myoffice</span>
   
     <div class="spacer"></div>
   
    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="post">Dummy</a>
    <a mat-button routerLink="demo">Demo</a>
    <a mat-button routerLink="services">Services</a>
    <a mat-button routerLink="projects">Projects</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-raised-button color="accent" routerLink="signup">Sign Up</a>
   </mat-toolbar>
   