<form [formGroup]="postForm" (ngSubmit)="onFormSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Title</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="title" formControlName="title">
      </div>
      <div class="form-group col-md-3">
        <label for="inputPassword4">content</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Content" formControlName="content">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Category</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Category" formControlName="category">
    </div>
   
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>