/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    padding: 10%;
    padding-top: 20px;
}

mat-form-field{
    width: 100%;
    // padding-left: 10px;
    padding-right: 10px;
}