<p>post works!xx</p>



<mat-card>
  <mat-card-header class="w-100"><mat-card-title-group class="w-100"><mat-card-title class="abp-card-title"
  >Post</mat-card-title>
  <div class="button-container">
    <button
    id="create"
    mat-raised-button
    color="primary"
    type="button"
    (click)="add()"
  ><i class="fa fa-plus mr-1"></i><span>เพิ่ม</span></button></div></mat-card-title-group></mat-card-header><mat-card-content>
   xx
  </mat-card-content>
  <!-- <mat-card-actions align="end">
    <button mat-raised-button color="primary">Read More</button>
  </mat-card-actions> -->
</mat-card>
