<!-- {{product | json}} -->

<div class="card shadow-sm border-0 mt-3">
    <div class="card-body">
    <div class="row">
        <div class="col-1">รหัส</div>
        <div class="col-6">ชื่อสินค้า</div>
        <div class="col-2">ราคา</div>
        <div class="col-2">กำเนินการ</div>
    </div>
    </div>
</div>
<div class="card mt-3" *ngFor="let item of products">
    <div class="card-body">
     <div class="row">
        <div class="col-1">{{item.id}}</div>
        <div class="col-6">
            <img src="{{item.thumbnail}}" alt="" style="max-width:50px">
            {{item.title}}
        </div>
        <div class="col-2">{{item.price}}</div>
        <div class="col-2">
            <button mat-raised-button color="primary">แก้ไข</button> 
            <button mat-raised-button color="warn">ลบ</button>
        </div>
     </div>
    </div>
  </div>
