// /* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
// @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {

//     font-family: 'Prompt' !important;
// }

// .form-control{
//     border:none !important;
//     background-color:#eff1f3 !important;
//     font-family: "Prompt";
// }
// .form-control:focus{
//     background-color: #f4f6f9 !important;
//     border:none !important;
//     box-shadow: none !important;
// }
// .card-ui{
//     margin-top: 120px;
//     padding: 15px 15px 60px 0;
//     box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
//     border-radius: 15px;
//     grid-row: 1 / 2;
//     grid-column: 1 / -1;
//     align-self: center;
// }
:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71,7,234);
    --color-success:rgb(34,202.75,0.2);
    --color-danger:rgb(25,67,54);
    --color-warning:rgb(23,181,7);
    --color-purple:rgb(160,99,245);

    --card-padding:1.6rem;
    --padding-1:1rem;
    --padding-2:8px;

    --card-border-radius:1.6rem;
    --border-radius-1:1rem;
    --border-radius-2:6px;

    --color-primary-light:rgba(71,7,234,0.2);
    --color-success-light:rgba(34,202,75,0.2);
    --color-danger-light:rgba(255,67,54,0.2);
    --color-purple-light:rgba(160,99,245,0.2);

}

*{
    margin: 0;
    outline: 0;
    padding: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body{
    background-color: var(--color-light); 
    font-family:poppins,sans-serif;
    min-height: 100vh;
    color: var(--color-dark);
}

img{
    width: 100%;
}

.bg-primary {
    background-color:var(--color-primary);
    box-shadow: 0 0.8rem var(--color-primary-light);
}

.bg-success {
    background-color:var(--color-success);
    box-shadow: 0 0.8rem var(--color-success-light);
}

.bg-danger {
    background-color:var(--color-danger);
    box-shadow: 0 0.8rem var(--color-danger-light);
}

.bg-purple {
    background-color:var(--color-purple);
    box-shadow: 0 0.8rem var(--color-purple-light);
}


// ======== Navbar ================
nav{
    width: 100%;
    background-color:var(--color-white)
}

nav .container{
    display: flex;
}